In [ ]:
%pip install pyannote.audio

In [1]:
from dotenv import load_dotenv
import os

os.add_dll_directory(r"C:\Users\user\Downloads\ffmpeg-8.0.1-full_build-shared\bin")


load_dotenv()

access_token = os.getenv("HUGGINGFACE_TOKEN")

# instantiate the pipeline
from pyannote.audio import Pipeline
pipeline = Pipeline.from_pretrained(
  "pyannote/speaker-diarization-3.1",
  token=access_token)

In [ ]:
output = pipeline("./audio/싼기타_비싼기타.mp3", preload=True)

# output 안에 실제 diarization 결과(Annotation)가 들어있음
diarization = output.speaker_diarization

with open("./audio/싼기타_비싼기타.rttm", "w", encoding="utf-8") as rttm:
    diarization.write_rttm(rttm)

d:\projects\gpt_agent_2025_book\chap05

In [1]:
import pandas as pd
rttm_path = './audio/싼기타_비싼기타.rttm'

df_rttm = pd.read_csv(
    rttm_path,
    sep=" ",
    header=None,
    names=['type', 'title', 'chnl', 'start', 'duration', 'C1', 'C2', 'speaker_id', 'C3', 'C4']
)

display(df_rttm)

       type     title  chnl    start  duration  C1  C2  speaker_id  C3  C4
0   SPEAKER  싼기타_비싼기타     1    0.993     5.805 NaN NaN  SPEAKER_00 NaN NaN
1   SPEAKER  싼기타_비싼기타     1    7.405     3.983 NaN NaN  SPEAKER_00 NaN NaN
2   SPEAKER  싼기타_비싼기타     1   11.759     4.927 NaN NaN  SPEAKER_00 NaN NaN
3   SPEAKER  싼기타_비싼기타     1   17.210    10.665 NaN NaN  SPEAKER_00 NaN NaN
4   SPEAKER  싼기타_비싼기타     1   28.668     1.536 NaN NaN  SPEAKER_00 NaN NaN
..      ...       ...   ...      ...       ...  ..  ..         ...  ..  ..
83  SPEAKER  싼기타_비싼기타     1  414.481     2.970 NaN NaN  SPEAKER_01 NaN NaN
84  SPEAKER  싼기타_비싼기타     1  417.755     3.476 NaN NaN  SPEAKER_00 NaN NaN
85  SPEAKER  싼기타_비싼기타     1  423.644     0.776 NaN NaN  SPEAKER_01 NaN NaN
86  SPEAKER  싼기타_비싼기타     1  424.741     3.527 NaN NaN  SPEAKER_01 NaN NaN
87  SPEAKER  싼기타_비싼기타     1  428.504     0.844 NaN NaN  SPEAKER_01 NaN NaN

[88 rows x 10 columns]

In [2]:
df_rttm['end'] = df_rttm['start'] + df_rttm['duration']

display(df_rttm)

,type,title,chnl,start,duration,C1,C2,speaker_id,C3,C4,end
0,SPEAKER,싼기타_비싼기타,1,0.993,5.805,NaN,NaN,SPEAKER_00,NaN,NaN,6.798
1,SPEAKER,싼기타_비싼기타,1,7.405,3.983,NaN,NaN,SPEAKER_00,NaN,NaN,11.388
2,SPEAKER,싼기타_비싼기타,1,11.759,4.927,NaN,NaN,SPEAKER_00,NaN,NaN,16.686
3,SPEAKER,싼기타_비싼기타,1,17.210,10.665,NaN,NaN,SPEAKER_00,NaN,NaN,27.875
4,SPEAKER,싼기타_비싼기타,1,28.668,1.536,NaN,NaN,SPEAKER_00,NaN,NaN,30.204
...,...,...,...,...,...,...,...,...,...,...,...
83,SPEAKER,싼기타_비싼기타,1,414.481,2.970,NaN,NaN,SPEAKER_01,NaN,NaN,417.451
84,SPEAKER,싼기타_비싼기타,1,417.755,3.476,NaN,NaN,SPEAKER_00,NaN,NaN,421.231
85,SPEAKER,싼기타_비싼기타,1,423.644,0.776,NaN,NaN,SPEAKER_01,NaN,NaN,424.420
86,SPEAKER,싼기타_비싼기타,1,424.741,3.527,NaN,NaN,SPEAKER_01,NaN,NaN,428.268
87,SPEAKER,싼기타_비싼기타,1,428.504,0.844,NaN,NaN,SPEAKER_01,NaN,NaN,429.348

In [3]:
df_rttm['number'] = None
df_rttm.at[0, 'number'] = 0

display(df_rttm)

,type,title,chnl,start,duration,C1,C2,speaker_id,C3,C4,end,number
0,SPEAKER,싼기타_비싼기타,1,0.993,5.805,NaN,NaN,SPEAKER_00,NaN,NaN,6.798,0
1,SPEAKER,싼기타_비싼기타,1,7.405,3.983,NaN,NaN,SPEAKER_00,NaN,NaN,11.388,None
2,SPEAKER,싼기타_비싼기타,1,11.759,4.927,NaN,NaN,SPEAKER_00,NaN,NaN,16.686,None
3,SPEAKER,싼기타_비싼기타,1,17.210,10.665,NaN,NaN,SPEAKER_00,NaN,NaN,27.875,None
4,SPEAKER,싼기타_비싼기타,1,28.668,1.536,NaN,NaN,SPEAKER_00,NaN,NaN,30.204,None
...,...,...,...,...,...,...,...,...,...,...,...,...
83,SPEAKER,싼기타_비싼기타,1,414.481,2.970,NaN,NaN,SPEAKER_01,NaN,NaN,417.451,None
84,SPEAKER,싼기타_비싼기타,1,417.755,3.476,NaN,NaN,SPEAKER_00,NaN,NaN,421.231,None
85,SPEAKER,싼기타_비싼기타,1,423.644,0.776,NaN,NaN,SPEAKER_01,NaN,NaN,424.420,None
86,SPEAKER,싼기타_비싼기타,1,424.741,3.527,NaN,NaN,SPEAKER_01,NaN,NaN,428.268,None
87,SPEAKER,싼기타_비싼기타,1,428.504,0.844,NaN,NaN,SPEAKER_01,NaN,NaN,429.348,None

In [4]:
for i in range(1, len(df_rttm)):
    if df_rttm.at[i, 'speaker_id'] != df_rttm.at[i-1, 'speaker_id']:
        df_rttm.at[i, 'number'] = df_rttm.at[i-1, 'number'] + 1
    else:
        df_rttm.at[i, 'number'] = df_rttm.at[i-1, 'number']

display(df_rttm)

,type,title,chnl,start,duration,C1,C2,speaker_id,C3,C4,end,number
0,SPEAKER,싼기타_비싼기타,1,0.993,5.805,NaN,NaN,SPEAKER_00,NaN,NaN,6.798,0
1,SPEAKER,싼기타_비싼기타,1,7.405,3.983,NaN,NaN,SPEAKER_00,NaN,NaN,11.388,0
2,SPEAKER,싼기타_비싼기타,1,11.759,4.927,NaN,NaN,SPEAKER_00,NaN,NaN,16.686,0
3,SPEAKER,싼기타_비싼기타,1,17.210,10.665,NaN,NaN,SPEAKER_00,NaN,NaN,27.875,0
4,SPEAKER,싼기타_비싼기타,1,28.668,1.536,NaN,NaN,SPEAKER_00,NaN,NaN,30.204,0
...,...,...,...,...,...,...,...,...,...,...,...,...
83,SPEAKER,싼기타_비싼기타,1,414.481,2.970,NaN,NaN,SPEAKER_01,NaN,NaN,417.451,33
84,SPEAKER,싼기타_비싼기타,1,417.755,3.476,NaN,NaN,SPEAKER_00,NaN,NaN,421.231,34
85,SPEAKER,싼기타_비싼기타,1,423.644,0.776,NaN,NaN,SPEAKER_01,NaN,NaN,424.420,35
86,SPEAKER,싼기타_비싼기타,1,424.741,3.527,NaN,NaN,SPEAKER_01,NaN,NaN,428.268,35
87,SPEAKER,싼기타_비싼기타,1,428.504,0.844,NaN,NaN,SPEAKER_01,NaN,NaN,429.348,35

In [ ]:
df_rttm_grouped = df_rttm.groupby("number").agg(
    start = pd.NamedAgg(column="start", aggfunc='min'),
    end= pd.NamedAgg(column="end", aggfunc='max'),
    speaker_id=pd.NamedAgg(column="speaker_id", aggfunc='first')
)

display(df_rttm_grouped)

          start      end  speaker_id
number
0         0.993   30.204  SPEAKER_00
1        32.414   41.391  SPEAKER_01
2        41.611   42.455  SPEAKER_00
3        41.645   42.708  SPEAKER_01
4        42.674   44.024  SPEAKER_00
5        45.813   67.109  SPEAKER_01
6        67.227   82.786  SPEAKER_00
7        84.659  102.564  SPEAKER_01
8       103.492  117.532  SPEAKER_00
9       119.759  138.676  SPEAKER_01
10      139.351  168.967  SPEAKER_00
11      170.907  192.321  SPEAKER_01
12      192.322  193.689  SPEAKER_00
13      192.760  193.503  SPEAKER_01
14      193.823  216.571  SPEAKER_00
15      218.579  237.783  SPEAKER_01
16      238.103  238.677  SPEAKER_00
17      238.188  239.352  SPEAKER_01
18      239.858  240.651  SPEAKER_00
19      240.297  240.989  SPEAKER_01
20      240.989  251.334  SPEAKER_00
21      253.696  271.550  SPEAKER_01
22      272.140  304.557  SPEAKER_00
23      306.970  326.022  SPEAKER_01
24      326.360  335.472  SPEAKER_00
25      337.548  355.925  SPEAKER_01
26      356.245  363.974  SPEAKER_00
27      365.982  381.423  SPEAKER_01
28      382.165  383.734  SPEAKER_00
29      385.726  397.184  SPEAKER_01
30      397.623  399.108  SPEAKER_00
31      401.437  406.601  SPEAKER_01
32      407.326  408.338  SPEAKER_00
33      410.093  417.451  SPEAKER_01
34      417.755  421.231  SPEAKER_00
35      423.644  429.348  SPEAKER_01

In [6]:
df_rttm_grouped['duration'] = df_rttm_grouped['end'] - df_rttm_grouped['start']
df_rttm_grouped = df_rttm_grouped.reset_index(drop=True)

display(df_rttm_grouped)

      start      end  speaker_id  duration
0     0.993   30.204  SPEAKER_00    29.211
1    32.414   41.391  SPEAKER_01     8.977
2    41.611   42.455  SPEAKER_00     0.844
3    41.645   42.708  SPEAKER_01     1.063
4    42.674   44.024  SPEAKER_00     1.350
5    45.813   67.109  SPEAKER_01    21.296
6    67.227   82.786  SPEAKER_00    15.559
7    84.659  102.564  SPEAKER_01    17.905
8   103.492  117.532  SPEAKER_00    14.040
9   119.759  138.676  SPEAKER_01    18.917
10  139.351  168.967  SPEAKER_00    29.616
11  170.907  192.321  SPEAKER_01    21.414
12  192.322  193.689  SPEAKER_00     1.367
13  192.760  193.503  SPEAKER_01     0.743
14  193.823  216.571  SPEAKER_00    22.748
15  218.579  237.783  SPEAKER_01    19.204
16  238.103  238.677  SPEAKER_00     0.574
17  238.188  239.352  SPEAKER_01     1.164
18  239.858  240.651  SPEAKER_00     0.793
19  240.297  240.989  SPEAKER_01     0.692
20  240.989  251.334  SPEAKER_00    10.345
21  253.696  271.550  SPEAKER_01    17.854
22  272.140  304.557  SPEAKER_00    32.417
23  306.970  326.022  SPEAKER_01    19.052
24  326.360  335.472  SPEAKER_00     9.112
25  337.548  355.925  SPEAKER_01    18.377
26  356.245  363.974  SPEAKER_00     7.729
27  365.982  381.423  SPEAKER_01    15.441
28  382.165  383.734  SPEAKER_00     1.569
29  385.726  397.184  SPEAKER_01    11.458
30  397.623  399.108  SPEAKER_00     1.485
31  401.437  406.601  SPEAKER_01     5.164
32  407.326  408.338  SPEAKER_00     1.012
33  410.093  417.451  SPEAKER_01     7.358
34  417.755  421.231  SPEAKER_00     3.476
35  423.644  429.348  SPEAKER_01     5.704

In [8]:
df_rttm_grouped.to_csv(
    './audio/싼기타_비싼기타_rttm.csv',
    sep=",",
    index=False
)